main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh;
}

h3{
  color: white;
}

body::-webkit-scrollbar {
  display: none;
}

body{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}